<br />
<div class="row">
    <div class="card col-xs-12 col-md-6 col-lg-6 col-xl-6" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Life and work</h5>
            <p class="card-text">
                Nishizaki produced the classic Space Battleship Yamato franchise in 1974 with its initial television run. At first its ratings were as disappointing as those of Nishizaki's previous ventures; however, the franchise exploded in popularity in 1977 with the release of a hugely successful movie-length edit of the TV series, and "Yamato Fever" continued unabated in Japan for the next six years. Edited versions of the three Yamato TV series were also a cult success in the United States under the title Star Blazers.
                Nishizaki's new Space Battleship Yamato anime film was released December 12, 2009.[8][9][10][11] There is also a live action film adaptation of the first TV series produced by Nishizaki which premiered in Japan during December 2010.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-6 col-xl-6" style="width: 18rem;">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Leiji_Matsumoto_-_Salon_du_Livre_Gen%C3%A8ve%2C_3rd_May_2014_3_-_cropped.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Leiji Matsumoto 松本零士</h5>
            <p class="card-text">
                Matsumoto made his debut under his real name, Akira Matsumoto, in 1953. His wife is shōjo manga artist Miyako Maki (better known as the creator of the doll Licca-chan, the Japanese equivalent of Barbie).

                Matsumoto had his big break with Otoko Oidon, a series that chronicled the life of a rōnin (a young man preparing for university entrance exams), in 1971. Around the same time he started a series of unconnected short stories set during World War II, Senjo Manga Series, which would eventually become popular under the title The Cockpit.

                He was involved in Space Battleship Yamato (1974) and created the highly popular series Space Pirate Captain Harlock and Galaxy Express 999 (both 1977). In 1978, he was awarded the Shogakukan Manga Award for shōnen for Galaxy Express 999 and Senjo Manga Series.[4] Animated versions of Captain Harlock and Galaxy Express 999 are set in the same universe, which spanned several spin offs and related series, most notably Queen Emeraldas and Queen Millennia.

                Matsumoto supervised the creation of several music videos for the French house group Daft Punk, set to tracks from their album Discovery. These videos were issued end-to-end (making a full-length animated movie) on a DVD release titled Interstella 5555: The 5tory of the 5ecret 5tar 5ystem.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>