<br/>
<div class="row">
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kodai Susumu</h5>
            <p class="card-text">Susumu Kodai is a United Nations Cosmo Navy officer serving as head of the space battleship Yamato's tactical division. In addition to his important role in many of the ship's military victories, Kodai contributes to Garmillans and humans finding a way out of the Garmillas-Earth War.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/d/d7/YukiMoriOnIscandar.png/revision/latest?cb=20141227035646" alt="Card image cap" style="height: 337.11px;">
        <div class="card-body">
            <h5 class="card-title">Yuki Mori</h5>
            <p class="card-text">Yuki Mori is a United Nations Cosmo Force officer serving aboard the space battleship Yamato. Prior to the Yamato's mission to the planet Iscandar, Mori comes to be closely associated with an Iscandarian emissary, Princess Yurisha Iscandar. That connection places Mori at the center of key political developments between Iscandar and the planet Garmillas.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/6/66/Juzo_okuta_33018.jpg/revision/latest?cb=20131206035335" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Juzo Okita</h5>
            <p class="card-text">Vice Admiral Juzo Okita (沖田十三 Okita Jūzō?): the stern captain of the Yamato, utterly devoted to his mission to save Earth from the Gamilus threat, even at the cost of his own life. He is in fact dying, and becomes increasingly ill during the course of the first season, but remains convinced that he will live to see his home world again.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/4/40/Daisuke_Shima_2199.png/revision/latest?cb=20180304233834" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Daisuke Shima</h5>
            <p class="card-text">Daisuke Shima is a United Nations Cosmo Navy officer serving as the space battleship Yamato's chief pilot and head of the ship's navigation division during its first two voyages..</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" style="width: 18rem;">
        <img class="card-img-top" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>

</div>