<br/>
<div class="row">
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3">
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kodai Susumu</h5>
            <p class="card-text">Susumu Kodai is a United Nations Cosmo Navy officer serving as head of the space battleship Yamato's tactical division. In addition to his important role in many of the ship's military victories, Kodai contributes to Garmillans and humans finding a way out of the Garmillas-Earth War.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/d/d7/YukiMoriOnIscandar.png/revision/latest?cb=20141227035646" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Yuki Mori</h5>
            <p class="card-text">Yuki Mori is a United Nations Cosmo Force officer serving aboard the space battleship Yamato. Prior to the Yamato's mission to the planet Iscandar, Mori comes to be closely associated with an Iscandarian emissary, Princess Yurisha Iscandar. That connection places Mori at the center of key political developments between Iscandar and the planet Garmillas.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/6/66/Juzo_okuta_33018.jpg/revision/latest?cb=20131206035335" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Juzo Okita</h5>
            <p class="card-text">Vice Admiral Juzo Okita (沖田十三 Okita Jūzō?): the stern captain of the Yamato, utterly devoted to his mission to save Earth from the Gamilus threat, even at the cost of his own life. He is in fact dying, and becomes increasingly ill during the course of the first season, but remains convinced that he will live to see his home world again.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/4/40/Daisuke_Shima_2199.png/revision/latest?cb=20180304233834" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Daisuke Shima</h5>
            <p class="card-text">Daisuke Shima is a United Nations Cosmo Navy officer serving as the space battleship Yamato's chief pilot and head of the ship's navigation division during its first two voyages..</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/1/1f/Sado_Sakezo.jpg/revision/latest?cb=20121220175758" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sado Sakezo</h5>
            <p class="card-text">Dr. Sakezo Sado (佐渡酒造 Sado Sakezō?) is the most humorously-drawn character in the series, Dr. Sado is frequently a source of comic relief, usually through pratfalls resulting from his love of Japanese rice wine, sake. Though originally a veterinarian (albeit an unsuccessful one), he becomes the ship's surgeon. He is good humored and always willing to give advice, but he can become deadly earnest when chiding others' behavior.</p>
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/4/4c/211519.jpg/revision/latest?cb=20131202004239" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Akira Yamamoto</h5>
            <p class="card-text">Akira Yamamoto, commonly called "Rei" by her friends, is a fighter pilot who serves aboard the United Nations Cosmo Navy battleship Yamato in 2199. Soon after joining the Yamato fighter squadron, Yamamoto distinguishes herself as the ship's most capable combat flyer.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/6/60/AU092199.png/revision/latest?cb=20141117043106" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Analyzer</h5>
            <p class="card-text">The R-9 Autonomous Type Shipborne Analysis Unit, also known as AU09 and by the preferred nickname Analyzer, is an autonomous robot assigned to the United Nations Cosmo Navy battleship Yamato. As a uniquely modified and greatly enhanced version of the AU08 robot type, Analyzer is capable of carrying out a wide variety of functions. Analyzer can readily interact with humans and aliens in an interpersonal manner, and is often described as male by the Yamato crew, despite having a distinctly non-humanoid design.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/c/c3/KiryuOnBridge.png/revision/latest?cb=20141123024826" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mikage Kiryu</h5>
            <p class="card-text">Mikage Kiryu is a warrant officer serving in the science division of the UNCN battleship Yamato in 2199.</p>           
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/7/7e/Tokugawa_Hikozaemon.jpg/revision/latest?cb=20121220180139" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hikozaemon Tokugawa</h5>
            <p class="card-text">Lieutenant Commander Hikozaemon Tokugawa (徳川彦左衛門 Tokugawa Hikozaemon?): the middle-aged, balding chief engineer aboard Yamato and an old comrade of Juzo Okita. He left behind a grandchild on Earth of whom he is extremely fond. Determined to remain at his post no matter what happens, he suffocates in the last episode of the second season as the engine room fills with fumes. His Japanese name comes from shōgun Tokugawa Ieyasu.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>
    <div class="card col-xs-12 col-md-6 col-lg-3 col-xl-3" >
        <img class="card-img-top img-fluid" src="https://vignette.wikia.nocookie.net/yamato/images/8/85/Susumu_Kodai_bomber_jacket.jpg/revision/latest?cb=20131202005113&format=original" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
        </div>
    </div>

</div>