@{
    ViewBag.Title = "Home Page";
}
    <div class="video-container col-xs-12 col-md-12 col-lg-12 col-xl-12">
        <!--Pasted from YouTube-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/51PjegTadWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <h2>Journey across the universe</h2>
            <p>
                The Earth is in peril from alien invaders from the far, vast reaches of space! Watch as the brave crew overcome an unending onslaught of invaders to reach their goal to save mother earth form certain doom!
            </p>
            <p><a class="btn btn-outline-info" href="/home/Story">Learn more &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <h2>The Crew</h2>
            <p>Learn about background and history of each crew member aboard the Yamato. No team of potential heroes come together like a well oiled machine without some trouble. Learn about each of the crew to better understand them. Feel pride as they learn to work as a team to save the Earth!</p>
            <p><a class="btn btn-outline-info" href="/home/Crew">Learn more &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <h2>The battleship</h2>
            <p>Get Aquainted with the real history of the Yamato and it's place in World War Two. Gain an appreciation for this fine vessel and it's resurection as sign of Earth's resilience in the show. </p>
            <p><a class="btn btn-outline-info" href="/home/Ship">Learn more &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <h2>Leji &amp; Yoshi</h2>
            <p>
                Learn more about the two main creators of the show, and other interesting works they've created over the years. You are sure to find some other classic anime or manga that will pique your interest!
            </p>
            <p><a class="btn btn-outline-info" href="/home/Creators">Learn more</a></p>
        </div>
    </div>
