<div class="row">
    <div class="col-xs-12">
        <br />
        <style>
            #headline {
                display: block;
                font: 10.5em 'Montserrat';
                width: 960px;
                height: 300px;
                margin: 0 auto;
            }

            #theme {
                display: block;
                font: 5.5em 'Montserrat';
                width: 960px;
                height: 300px;
                margin: 0 auto;
            }
        </style>

        <svg viewBox="0 0 960 300" id="headline">
            <symbol id="h-text">
                <text text-anchor="middle" x="50%" y="80%">Rationale</text>
            </symbol>

            <g class="g-ants">
                <use xlink:href="#h-text" class="text-copy"></use>
                <use xlink:href="#h-text" class="text-copy"></use>
                <use xlink:href="#h-text" class="text-copy"></use>
                <use xlink:href="#h-text" class="text-copy"></use>
                <use xlink:href="#h-text" class="text-copy"></use>
            </g>
        </svg>

        <p>
            <svg viewBox="0 0 960 300" id="theme">
                <symbol id="t-text">
                    <text text-anchor="middle" x="50%" y="80%">Theme</text>
                </symbol>

                <g class="g-ants">
                    <use xlink:href="#t-text" class="text-copy"></use>
                    <use xlink:href="#t-text" class="text-copy"></use>
                    <use xlink:href="#t-text" class="text-copy"></use>
                    <use xlink:href="#t-text" class="text-copy"></use>
                    <use xlink:href="#t-text" class="text-copy"></use>
                </g>
            </svg>
            I designed this site around the show "Space Battleship Yamato 2199". I was litteraly watching the show and didn't have an idea of what to make that wasn't too complicated for the short time I had left. It's a great show, very dramatic and has a striking visual style due to Leji Matsumoto's artwork.
            <br />
            <a href="#top">Top</a>
        </p>
            
        <p>
            <svg viewBox="0 0 960 300" id="theme">
                <symbol id="x-text">
                    <text text-anchor="middle" x="50%" y="80%">Design Decisions</text>
                </symbol>

                <g class="g-ants">
                    <use xlink:href="#x-text" class="text-copy"></use>
                    <use xlink:href="#x-text" class="text-copy"></use>
                    <use xlink:href="#x-text" class="text-copy"></use>
                    <use xlink:href="#x-text" class="text-copy"></use>
                    <use xlink:href="#x-text" class="text-copy"></use>
                </g>
            </svg>
            I started off with thinking about the show first and foremost. A lot of the action takes place on a dark background. I wanted to match that feeling of being alone in space battling for your home by using a dark background. One of the ways I put a site together is to recycle work that's free online. For bootstrap sites, I typically use <a href="https://bootswatch.com">bootswatch</a>. This time I picked the 'Cyborg' theme. I found the bright blue primary to be a close match to the Cosmo Navy logo color. Another touch I added to the navbar was to use an anchor icon from <a href="https://fontawesome.com/icons?d=gallery">fontawesome</a>. I thought it would be a nice touch to the page since the show has a strong naval theme. Next, I then focused on trying to find pictures 
            <br />
            <a href="#top">Top</a>
        </p>
        
        <p>
            This site is not responsive. Changing the width of the site makes the user have to scroll widthwise to see the content. When I try to change my user agent to a mobile one, it just redirects to a page telling you to download their mobile application. This is a clear case where a PWA (progressive web application) would have been the best thing to do here. They do have a lot of different applications for many platforms, and I wonder if using a PWA would have streamlined this overall and gave the desktop site a refresh
            <br />
            <a href="#top">Top</a>
        </p>
        
        <p>
            The content here is always fresh. Because they are in the business of simultaneously showing anime shows broadcasting in Japan online, every day of the week there is typically an update of some sort. They also update the news section frequently on the front page as well. The design of the site does serve it's the purpose, but I think they can do better to organize the videos.
            <br />
            <a href="#top">Top</a>
        </p>
                   
        <p>
            The site is very easy to use if you are looking for the latest shows. For their back catalog, I think there are some improvements that could be made possible. One of the biggest problems I think is that by default the videos are shown by popularity vs alphabetical or genre. When you are looking for something that could have come out a year or two back, it can be quite frustrating to scroll endlessly down to try to look what you are looking for. Granted those options do exist, however, I typically forget about them and then start scrolling down. To me, it would appear that other people would do this too instead of using the organizational links. I suppose what I am saying here is: why make it hard? Just make it easy the first time around and let users peruse the large catalog you have easily. When it comes to the videos playback, I've never had much trouble. A few years back the video player they used was a bit weird but now it's very much like youtube with an automatic quality adjuster making for easy playback that will match the quality to your available bandwidth.
            <br />
            <a href="#top">Top</a>
        </p>
        
        <p>
            I've made a variety of suggestions thus far, so I won't repeat them here. Overall the site needs to be updated.
            <br />
            <a href="#top">Top</a>
        </p>
    </div>
</div>