<div class="row">
    <img src="https://i1.wp.com/imageshack.com/a/img922/4671/SFhmQB.png" alt="Space Battleship Yamato" class="img-fluid" />
    <div class="col-xs-12 col-md-3 col-lg-3">
        <p>In 2191, Earth made first contact with aliens called Gamilas. First attempt at peaceful contact with the Gamilas failed, resulting in interstellar war.</p>
        <p>The United Nations Cosmo Navy, even though outmatched by the Gamilas space naval forces, was able to stop their direct assaults on Earth in the Second Battle for Mars, but suffered heavy losses in the process. The Gamilas, from their military base on Pluto, then started planetary bombardment with modified asteroids called planet bombs. The planet bombs hampered United Nations efforts to rebuild their space fleet and forced Earth to build underground cities to protect humanity.</p>
        <p>The planet bombs altered the atmosphere and irradiated the planetary surface, causing the complete destruction of the planet's biosphere. The Gamilas then started what is believed to be their first step in terraforming—preparing the Earth to be inhabited by themselves—by introducing plant life that was lethal to any life on Earth.</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <img src="https://ourstarblazers.com/vault-images/oct13/Mguidesizecomp.JPG" class="img-fluid" alt="Various Ships">
    </div>
    <div class="col-xs-12 col-md-3 col-lg-3">
        <img src="https://i.pinimg.com/originals/7a/57/65/7a576565e7f4b7dd7e3672ea13855079.jpg" alt="Yamato X-Ray" class="img-fluid">
    </div>
    <div class="col-xs-12 col-md-3 col-lg-3">
        <p>With mankind facing extinction, the United Nations started planning for a small colony of humans to leave Earth in an attempt at the survival of humanity, called the Isumo Plan.</p>
        <p>But in early 2198 Starsha, from the planet Iscandar, learned of Earth's situation and dispatched her sister Yurisha to Earth. Yurisha brought with her the designs to what is called the Dimensional Wave Motion Engine, providing for interstellar flight along with other technological assistance to Earth. </p>
        <p>The Iscandarans revealed that they could reverse the damage done to the Earth with the Cosmo Reverse System. For technical reasons they could not send the system directly and would need Earth to send a ship for it. The United Nations then scrapped the Isumo Plan in order to build a new Cosmo Navy ship to retrieve the Cosmo Reverse System. The new ship was designed as a heavily armed space battleship. To conceal the ship's construction from the Gamilas, Earth built the new ship at the same site as the sunken World War II Yamato battleship. The new space battleship was also named the Yamato for which the series Space Battleship Yamato 2199 is named.</p>
    </div>
</div>